# Visual Studio
.vs/
**/.vs/
bin/
obj/
*.user
*.suo

# Logs
*.log

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# Environment
.env

# Secrets / env
appsettings.Development.json
appsettings.*.Development.json
appsettings.Local.json
